<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kushal Portfolio</title>

    <meta name="description" content="Personal portfolio featuring skills, projects and resume.">
    <meta name="author" content="Kushal Patel">

    <meta property="og:title" content="Kushal Patel Portfolio">
    <meta property="og:description" content="Personal portfolio featuring skills, projects and resume.">
    <meta property="og:image" content="images/preview.jpg">
    <meta property="og:url" content="https://yourdomain.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">




    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/globalStyles.css">
    <link rel="stylesheet" href="../stylesheets/homeStyles.css">
    <script src="https://kit.fontawesome.com/896278106b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

</head>

<body>

    <header>
        <nav class="nav-bar">
            <h1 class="nav-name">Kushal.</h1>
            <ul>
                <li><a href="/" tabindex="1" class="nav-links">Home</a></li>
                <li><a href="/aboutme" tabindex="2" class="nav-links">About Me</a></li>
                <li><a href="/skills" tabindex="3" class="nav-links">Skills</a></li>
                <li><a href="/projects" tabindex="4" class="nav-links">Projects</a></li>
                <li><a href="/contactme" tabindex="5" class="nav-links">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-body">
        <section>
            <div class="home-container flex">
                <div class="my-image"><img src="../images/edited.png" alt=""></div>
                <div class="my-intro flex">
                    <div class="my-name">
                        <h4>Hello, I'm</h4>
                    </div>
                    <div class="my-name">
                        <h1>Kushal Patel</h1>
                    </div>
                    <div class="my-name">
                        <h3 class="auto-type-function"></h3>
                    </div>
                    <div class="my-info">
                        <a class="button btn-1 hover-effect" href="mailto:pkushal1052@gmail.com">Contact Info</a>
                        <a class="button btn-2 hover-effect" href="../assests/Kushal_Patel_Resume.pdf"
                            download="Kushal_Patel_Resume">Download CV</a>
                    </div>
                    <div>
                        <a class="my-logos" href="https://github.com/pkushal05" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a class="my-logos" href="https://www.linkedin.com/in/kushalpatel07/" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../javascripts/homeJs.js"></script>
</body>

</html>