<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set, viewport, title, and author -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kushal Portfolio</title>

    <!-- Meta tags for SEO and social sharing -->
    <meta name="description" content="Personal portfolio featuring skills, projects and resume.">
    <meta name="author" content="Kushal Patel">

    <!-- Open Graph meta tags for better social media sharing -->
    <meta property="og:title" content="Kushal Patel Portfolio">
    <meta property="og:description" content="Personal portfolio featuring skills, projects and resume.">
    <meta property="og:image" content="images/preview.jpg">
    <meta property="og:url" content="https://yourdomain.com">
    <meta property="og:type" content="website">

    <!-- Favicon and stylesheet links -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="../stylesheets/globalStyles.css">
    <link rel="stylesheet" href="../stylesheets/skillStyles.css">

    <!-- FontAwesome and Typed.js for icon usage and typing animation -->
    <script src="https://kit.fontawesome.com/896278106b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<body>

    <!-- Navigation bar for accessing various sections of the portfolio -->
    <header>
        <nav class="nav-bar">
            <h1 class="nav-name">Kushal.</h1>
            <ul>
                <!-- Navigation links for Home, About Me, Skills, Projects, and Contact -->
                <li><a href="/" tabindex="1" class="nav-links">Home</a></li>
                <li><a href="/aboutme" tabindex="2" class="nav-links">About Me</a></li>
                <li><a href="/skills" tabindex="3" class="nav-links">Skills</a></li>
                <li><a href="/projects" tabindex="4" class="nav-links">Projects</a></li>
                <li><a href="/contactme" tabindex="5" class="nav-links">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content body of the portfolio -->
    <main class="main-body flex">
        <section>
            <div class="skills-container">
                <!-- Web Development Section -->
                <div class="skills-box odd">
                    <h2 class="skill-title web-development"></h2>
                    <div class="skill-content">
                        <div class="skill-card"><i class="fa-brands fa-html5"></i><span>HTML</span></div>
                        <div class="skill-card"><i class="fa-brands fa-css3-alt"></i><span>CSS</span></div>
                        <div class="skill-card"><i class="fa-brands fa-js"></i><span>Javascript</span></div>
                    </div>
                </div>

                <!-- Programming Languages Section -->
                <div class="skills-box even">
                    <h2 class="skill-title programming-languages"></h2>
                    <div class="skill-content">
                        <div class="skill-card"><i class="fa-brands fa-python"></i><span>Python</span></div>
                        <div class="skill-card"><i class="fa-brands fa-java"></i><span>Java</span></div>
                    </div>
                </div>

                <!-- Back-End Technologies Section -->
                <div class="skills-box even">
                    <h2 class="skill-title back-end"></h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                            <span>MS SQL Server</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-mongodb-plain"></i>
                            <span>Mongo DB</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-nodejs-plain"></i>
                            <span>Node.js</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-express-original"></i>
                            <span>Express</span>
                        </div>
                    </div>
                </div>

                <!-- Tools and IDEs Section -->
                <div class="skills-box odd">
                    <h2 class="skill-title tools-ides"></h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <i class="devicon-git-plain"></i>
                            <span>Git</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-github-original"></i>
                            <span>Github</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-vscode-plain"></i>
                            <span>VS Code</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-pycharm-plain"></i>
                            <span>Pycharm</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-intellij-plain"></i>
                            <span>IntelliJ</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-selenium-original"></i>
                            <span>Selenium</span>
                        </div>
                    </div>
                </div>

                <!-- Software Development Concepts Section -->
                <div class="skills-box odd">
                    <h2 class="skill-title software-development"></h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <i class="fa-solid fa-cubes"></i>
                            <span>Object Oriented Programming (OOP)</span>
                        </div>
                        <div class="skill-card">
                            <i class="fa-solid fa-diagram-project"></i>
                            <span>Software Development Life Cycle (SDLC)</span>
                        </div>
                    </div>
                </div>

                <!-- Soft Skills Section -->
                <div class="skills-box even">
                    <h2 class="skill-title soft-skills"></h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <i class="fa-solid fa-people-group"></i>
                            <span>Teamwork</span>
                        </div>
                        <div class="skill-card">
                            <i class="fa-solid fa-comments"></i>
                            <span>Communication</span>
                        </div>
                        <div class="skill-card">
                            <i class="fa-solid fa-clock"></i>
                            <span>Time Management</span>
                        </div>
                        <div class="skill-card">
                            <i class="fa-solid fa-puzzle-piece"></i>
                            <span>Problem Solving</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Script for dynamic skill animations (if needed) -->
    <script src="../javascripts/skillsJs.js"></script>
</body>

</html>