<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kushal Portfolio</title>

    <meta name="description" content="Personal portfolio featuring skills, projects and resume.">
    <meta name="author" content="Kushal Patel">

    <meta property="og:title" content="Kushal Patel Portfolio">
    <meta property="og:description" content="Personal portfolio featuring skills, projects and resume.">
    <meta property="og:image" content="images/preview.jpg">
    <meta property="og:url" content="https://yourdomain.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/globalStyles.css">
    <link rel="stylesheet" href="../stylesheets/skillStyles.css">
    <script src="https://kit.fontawesome.com/896278106b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />


</head>

<body>

    <header>
        <nav class="nav-bar">
            <h1 class="nav-name">Kushal.</h1>
            <ul>
                <li><a href="/" tabindex="1" class="nav-links">Home</a></li>
                <li><a href="/aboutme" tabindex="2" class="nav-links">About Me</a></li>
                <li><a href="/skills" tabindex="3" class="nav-links">Skills</a></li>
                <li><a href="/projects" tabindex="4" class="nav-links">Projects</a></li>
                <li><a href="" tabindex="5" class="nav-links">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-body flex">
        <section>
            <div class="skills-container">
                <div class="skills-box odd">
                    <h2 class="skill-title">Web Development</h2>
                    <div class="skill-content">
                        <div class="skill-card"><i class="fa-brands fa-html5"></i><span>HTML</span></div>
                        <div class="skill-card"><i class="fa-brands fa-css3-alt"></i><span>CSS</span></div>
                        <div class="skill-card"><i class="fa-brands fa-js"></i><span>Javascript</span></div>
                    </div>
                </div>
                <div class="skills-box even">
                    <h2 class="skill-title"> Programming Languages</h2>
                    <div class="skill-content">
                        <div class="skill-card"><i class="fa-brands fa-python"></i><span>Python</span></div>
                        <div class="skill-card"><i class="fa-brands fa-java"></i><span>Java</span></div>
                    </div>
                </div>
                <div class="skills-box even">
                    <h2 class="skill-title">Back-End</h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                            <span>MS SQL Server</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-mongodb-plain"></i>
                            <span>Mongo DB</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-nodejs-plain"></i>
                            <span>Node.js</span>
                        </div>
                        <div class="skill-card">
                            <i class="devicon-express-original"></i>
                            <span>Express</span>
                        </div>
                    </div>
                </div>
                <div class="skills-box odd">
                    <h2 class="skill-title">Tools & IDEs</h2>
                    <div class="skill-content">
                        <div class="skill-card">

                            <i class="devicon-git-plain"></i>

                            <span>Git</span>
                        </div>
                        <div class="skill-card">

                            <i class="devicon-github-original"></i>
                            <span>Github</span>
                        </div>
                        <div class="skill-card">

                            <i class="devicon-vscode-plain"></i>
                            <span>VS Code</span>
                        </div>
                        <div class="skill-card">

                            <i class="devicon-pycharm-plain"></i>
                            <span>Pycharm</span>
                        </div>
                        <div class="skill-card">


                            <i class="devicon-intellij-plain"></i>
                            <span>IntelliJ</span>
                        </div>
                        <div class="skill-card">



                            <i class="devicon-selenium-original"></i>
                            <span>Selenium</span>
                        </div>
                
                    </div>
                </div>
                <div id="software-development" class="skills-box odd">
                    <h2 class="skill-title">Software Development</h2>
                    <div class="skill-content">
                        <div class="skill-card">
                            <span>Object Oriented Programming (OOPS)</span>
                        </div>
                        <div class="skill-card">
                            <span>Software Development Life Cycle (SDLC)</span>
                        </div>
                    </div>
                </div>
                <div class="skills-box even">
                    <h2>Technical skills</h2>
                    <div>icons</div>
                </div>
            </div>
        </section>
    </main>
    <script src="../javascripts/skillsJs.js"></script>
</body>

</html>