.main-body {
    margin-top: 18vh;
    flex-direction: column;
    /* position: relative; */
}

.aboutme-section {
    margin-top: 70px;
    width: 60vw;
    height: 60vh;
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* position: relative; */
}

.left-about {
    width: 30%;
    height: 100%;
    background-color: var(--primary-color);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.aboutme-image {
    margin-top: 90px;
    margin-left: 35px;
    width: 200px;
    height: 200px ;
}

.right-about {
    width: 70%;
    height: 100%;
    
}

.right-about::before {
    content: "";
    width: 2px;
    top: calc(18vh + 95px);
    height: 52vh;
    background-color: var(--secondary-color);
    position: absolute;
}

.aboutme-text {
    text-align: center;
    margin-top: 50px;
    color: var(--secondary-color);
}

.aboutme-content p {
    text-align: center;
    margin-inline: 40px;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.education-section {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60vw;
    height: 60vh;
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
}


