/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Inter:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
:root {
    --primary-color: #eee5da;
    --secondary-color: #262424;
    --hover-effect-color: #d0c4b8;
    --skill-bg-muted: #e3d5c4;
    --skill-bg-accent: #c9b49a;
    --skill-bg-peach: #f2d1b3;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

body {
    background-color: var(--primary-color);
    font-family: "Special Gothic Expanded One", sans-serif;
}

h1 {
    font-size: 3.7rem;
    letter-spacing: 1.2px;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1px;
}

h3, h4 {
    letter-spacing: 1px;
}

p {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

a {
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
}

/* Utility classes */

.main-body {
    margin-top: 160px;
    opacity: 0;
    transform: translateY(30);
    animation: fadeSlide 0.5s ease-in forwards;
    height: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: smaller;
    width: auto;
    color: var(--secondary-color);
    padding: 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.hover-effect:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px var(--secondary-color);
}

/* Nav-bar styling */

.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    height: 140px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-name {
    font-size: 3.5rem;
    padding-left: 70px;
}

.nav-name:hover {
    text-shadow: 0 0 5px var(--hover-effect-color);
}

nav>ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-links {
    color: var(--primary-color);
    position: relative;
}

.nav-links:hover {
    text-shadow: 0 0 5px var(--hover-effect-color);
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.nav-links.active:after {
    transform: scaleX(1);
    transform-origin: left;
}

.copyright-text {
    display: none;
    font-size: 1rem;
    color: var(--primary-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

/* Keyframe animation - page fades in after loading */

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}