/* Home page styling*/
.home-container {
    margin-top: 15%;
    gap: 60px;
}

.my-intro {
    flex-direction: column;
    gap: 15px;
}

.my-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.my-image img {
    object-fit: cover;
}

.my-name {
    color: var(--secondary-color);
}

.my-logos {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
}

.my-logos:hover {
    transform: scale(1.2);
    text-shadow: 0 0 20px var(--secondary-color);
}

.btn-2 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.my-info {
    display: flex;
    justify-content: space-evenly;
    gap:30px;
}

