/*--------------------------------- Laptop-----------------------------------------*/
@media screen and (max-width: 1024px) {

    /* Global Styles*/
    h1 {
        font-size: 3rem;
        letter-spacing: 1.2px;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    a {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .main-body {
        margin-top: 110px;
    }

    .nav-links::after {
        width: 80%;
        left: 20px;
        bottom: -5px;
    }

    /*----------------------Hamburger Navigation Menu------------------------*/
    .nav-bar {
        padding-left: 50px;
        padding-right: 0;
        height: 90px;
    }

    .nav-name {
        font-size: 2.5rem;
        padding-left: 40px;
        letter-spacing: 3px;
    }

    #sidebar-active {
        display: none;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: none;
    }

    .links-container {
        flex-direction: column;
        /* justify-content: space-between; */
        position: fixed;
        top: 0;
        transform: translateX(100%);
        right: 0;
        width: 250px;
        background-color: var(--secondary-color);
        height: 100%;
        padding-top: 20px;
        transition: 0.6s ease-in-out;
    }

    .nav-links {
        margin: 0;
        padding-left: 20px;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding-right: 30px;
    }

    .close-sidebar-button {
        padding-left: 20px;
    }

    #sidebar-active:checked~.links-container {
        transform: translateX(0);
    }

    .fa-copyright {
        padding-left: 20px;
    }

    .copyright-text {
        display: none;

    }

    #sidebar-active:checked~.links-container .copyright-text {
        display: block;
        font-size: 0.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        color: var(--primary-color);
    }

    /*--------------------------------- Home page -----------------------------------*/

    .my-image {
        width: 300px;
        height: 300px;
    }

    .home-container {
        margin-top: 170px;
        gap: 40px;
    }

    .my-intro {
        gap: 10px;
    }

    /*---------------------------------About me Page---------------------------------*/

    .aboutme-image {
        width: 150px;
        height: 150px;
        margin-left: 25px;
        margin-top: 110px;
    }

    .right-about::before {
        top: calc(18vh - 40px);
    }

    .aboutme-section {
        margin-top: 20px;
        height: 390px;
    }

    .education-section {
        height: 390px;

    }

    .aboutme-text,
    .education-text {
        margin-block: 15px;
    }

    .aboutme-content p {
        margin-inline: 20px;
        margin-top: 10px;
        line-height: 1.5rem;
    }

    .right-about .education-image {
        width: 150px;
        height: 150px;
        margin-top: 110px;
        padding: 0 20px 0 0;
    }

    .education-section .right-about::before {
        top: calc(80vh + 75px);
    }

    /*--------------------------------Skills page -------------------------------*/

    .skills-container {
        margin-block: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    /*--------------------------------Projects page -----------------------------*/

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-cards {
        height: 475px;
    }

    /*------------------------------- Contact me page -----------------------------*/

    .contact-container {
        height: 70vh;
    }

    .contact-left-title {
        font-size: 1.8rem;
    }

    .contact-left hr {
        width: 100px;
    }

    .input-fields {
        width: 300px;
        height: 40px;
    }

    .input-fields::placeholder {
        font-size: 0.9rem;
    }

    .contact-left button {
        font-size: 0.9rem;
    }

    .contact-right img {
        width: 350px;
        height: 350px;
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {

    /* Global Styles*/
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }

    /*--------------------------Navbar -------------------------------------*/

    .nav-bar {
        padding-left: 20px;
        padding-right: 0;
        height: 90px;
    }

    .nav-name {
        font-size: 2rem;
        padding-left: 0;
        letter-spacing: 2px;
    }

    /*--------------------------Home page-----------------------------------*/

    .home-container {
        flex-direction: column;
        margin-top: 250px;
    }

    .my-image {
        width: 200px;
        height: 200px;
    }

    .my-intro {
        gap: 5px
    }

    .nav-name {
        font-size: 2rem;
        padding-left: 20px;
    }

    /*----------------------------About me page---------------------------------*/

    #arrow-down {
        display: none;
    }

    .aboutme-section .left-about,
    .education-section .right-about {
        display: none;
    }

    .aboutme-section {
        margin-top: 10px;
        width: 400px;
        height: 385px;
        gap: 10px;
        justify-content: center;
    }

    .aboutme-text,
    .education-text {
        margin-block: 10px;
    }

    .aboutme-content p {
        font-size: 0.9rem;
        margin-inline: 0;
        margin-top: 5px;
        line-height: 1.3rem;
    }

    .education-section .right-about::before,
    .right-about::before {
        display: none;
    }

    .education-section {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 400px;
        height: 320px;
        gap: 10px;
        justify-content: center;
    }

    .education-content h3 {
        letter-spacing: 1.1px;
        font-size: 1.1rem;
        margin-inline: 0;
        margin-top: 20px;
    }

    .education-content p:first-of-type,
    .education-content p:nth-of-type(3) {
        margin-inline: 0;
        font-size: 1rem;
        margin-top: 15px;
        line-height: 1.3rem;
        font-size: 1rem;

    }

    .education-content p:nth-of-type(2) {
        margin-inline: 0;
        margin-top: 20px;
        font-size: 1rem;
        line-height: 1.1rem;
    }

    /*----------------------------Skills page---------------------------------*/

    .skills-box {
        width: 400px;
        height: 300px;
        padding: 15px;
    }

    .skill-title {
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 10px;
    }

    .skill-content {
        margin-top: 10px;
        gap: 15px;
    }

    .skill-card {
        padding: 5px;
    }

    .skill-content i {
        font-size: 1.5rem;
        margin-right: 7px;
    }

    .skill-card span {
        font-size: 1.2rem;
        font-weight: 500;
    }

    /*---------------------------- Projects page ---------------------------------*/

    .project-cards {
        width: 395px;
    }

    /*----------------------------Contact me page---------------------------------*/

    .contact-right {
        display: none;
    }
}